#centered {
    text-align: center;
}

body {
    background-color: rgb(32, 6, 23);
    /* background: linear-gradient(rgb(32, 6, 23), rgb(49, 7, 35)); */
}

.section {
    position: relative;
    padding: 20px;
    margin: 2%;
    /* margin-top: 2%; */
    margin-left: 21%;
    /* left: 20%; */
    width: 800px;
}

.photo {
    /* position: relative; */
    float: left;
    margin-right: 10px;
    /* padding: 20px;
    left: 20%; */
}

.intro span {
    position: absolute;
    float: right;
    margin-top: 50%;
}

h5 {
    font-size: 20pt;
}

.skills {
    position: relative;
    padding: 20px;
    margin: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

#projects li {
    margin: 10px;
}

input[type=text] {
	background-color: black;
}